
<div class="container">

	<div col col-md-8>
		<ul class="list-group">
		<% @activities.each do |activity| %>

		  <%if activity.trackable_type == "Post"%>
			<li class="list-group-item">
			<%=time_ago_in_words(activity.created_at)%>
			<%= activity.trackable.zombie.username + " posted " %></li>
			<li class="list-group-item media-li">
			<div class="media">
				<div class="media-left media-middle">
					<%= image_tag activity.trackable.zombie.image.url(:thumb), class:"profile-img media-object", alt:"profile-picture" %>
				</div>
				<div class="media-body">
					<p class="media-heading post-content"><%= activity.trackable.content %></p>
				</div>
			</div>
			</li>
			<% end %>

		<%end %>
		</ul>
	</div>

</div>

<div col-6 col-sm-4>

<%= pie_chart @zombies.group(:fav_hot_sauce).count %>
</div>